Pages::{{pages|json}}<br>
roles::{{roles|json}}<br>
pageRoleMapping::{{pageRoleMapping|json}}
<br>
<br>


<form  #myForm="ngForm"  (ngSubmit)="createPermission(myForm)" >
<table border="1">
  <thead>
    <tr>
      <th>Role/Pages</th>
      <th *ngFor="let page of pages">{{page.name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let role of roles" >
      <td><b>{{role.name}}</b></td>
      <td *ngFor="let page of pages">
        <!-- <span *ngIf="role.roleid==page.pageId" >{{role|json}}{{page|json}}</span>-->
        <input type="checkbox" name="{{role.roleid}}{{page.pageId}}" value="" ngModel >  
        <!--Role::{{role.name}}    Page:: {{page.name}}-->
        <!--role::{{role.roleid}}  Page::{{page.pageId}}-->
      </td>
    </tr>
    <tr>
      <input type="submit" name="submit"  value="submit"  />
    </tr>
  </tbody>
</table>
</form>
