Pages::{{pages|json}}<br>
roles::{{roles|json}}<br>
pageRoleMapping::{{pageRoleMapping|json}}
<br>
<br>


<form  #myForm="ngForm"  (ngSubmit)="createPermission(myForm)" >
<table border="1">
  <thead>
    <tr>
      <th>Role/Pages</th>
      <th *ngFor="let page of pages">{{page.name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let role of roles" >
      <td><b>{{role.name}}</b></td>
      <td *ngFor="let page of pages">
        <div *ngFor="let pgm of pageRoleMapping;index as i">
          
        <span *ngIf="role.roleid==pgm.roleId" >
          <!--{{role|json}}-->          
          <!--{{pgm.roleId|json}}-->
          {{(pgm.pagesIds.indexOf(page.pageId)>-1)|json}}
          <!--<input type="checkbox" name="{{role.roleid}}{{page.pageId}}" [checked]="(pgm.pagesIds.indexOf(page.pageId)>-1)" ngModel > -->
          <input 
            type="checkbox" 
            [checked]="(pgm.pagesIds.indexOf(page.pageId) > -1)" 
            name="{{role.roleid}}{{page.pageId}}" 
            [ngModel]="(pgm.pagesIds.indexOf(page.pageId)>-1)?true:false"            
          >
            
          <!--{{page|json}}-->
        </span>
      </div>
        
        <!--Role::{{role.name}}    Page:: {{page.name}}-->
        <!--role::{{role.roleid}}  Page::{{page.pageId}}-->
      </td>
    </tr>
    <tr>
      <input type="submit" name="submit"  value="submit"  />
    </tr>
  </tbody>
</table>
</form>
